{{with .Site.Data.cta}}
{{ if .enable }}
<section class="cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cta-content">
          <h2>{{.title}}</h2>
          <a href="{{.buttonTarget | absURL }}" class="btn btn-primary mb-3">
              Und sag Hallo 👋
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
