<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="footer-logo">
          <img src="{{ .Site.Params.footerlogo | absURL}}" alt="logo"> 
        </div>
        <div class="footer-text-block">
          <p>
            {{ .Site.Params.address.address | safeHTML}}
          </p>
        </div>
      </div>
      {{ $socialIcon := .Site.Params.social}}
      <div class="col-lg-6 col-md-12 align-self-end">
        <div class="footer-icon">
          <ul>
            {{ range $socialIcon }}
						<li >
              <a target="_blank" href="{{ .url }}">
                <i
									class="{{ .icon }}">
                </i>
              </a>
						</li>
						{{ end }}
          </ul>
        </div>
        <div class="footer-copyright-text">
          <p> {{ replace .Site.Params.copyright "{year}" now.Year | safeHTML }} </p>
          <ul>
            {{ $sitemap := .Site.Menus.sitemap }}
						{{ range $sitemap }}
						  <li >
                <a  href="{{ .URL | absURL }}">{{ .Name }}</a>
              </li>
						{{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


{{ "<!-- Non Critical CSS -->" | safeHTML }}
{{$style :=  resources.Get "scss/non-critical.scss" | css.Sass | resources.Minify }}
<link href="{{ $style.Permalink }}" rel="stylesheet" />
{{ "<!-- VENDOR JS -->" | safeHTML }}
<script src="{{"vendor/jQuery/jquery.min.js" | absURL }}"></script>
<script src="{{"vendor/bootstrap/bootstrap.min.js" | absURL }}"></script>
<script src="{{"vendor/slick/slick.min.js" | absURL}}"></script>
<script src="{{"vendor/aos/aos.js" | absURL}}"></script>
<script src="{{"vendor/match-height/match-height.js" | absURL}}"></script>
<script src="{{"vendor/magnific-popup/magnific-popup.min.js" | absURL}}"></script>
{{ $script := resources.Get "js/script.js" | minify}} 
<script src="{{ $script.Permalink}}"></script>
