{{with .Site.Data.gallery}}
{{if .enable}}
<section class="gallery" id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h3>{{ .title | safeHTML }}</h3>
          <p>
            {{.subtitle}}
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      {{ range .galleryImage }}
        <div class="col-md-3">
          <div class="gallery-item">
            <a href="{{ .image | absURL }}" data-source="{{ .image | absURL }}"
                title="Exibhition 01">
                <img src="{{ .image | absURL }}" alt="gallery-images">
            </a>
          </div>
        </div>
      {{end }}
    </div>
  </div>
</section>
{{end}}
{{end}}