  <head>
    <meta charset="utf-8" />
    <title>{{.Title}}</title>

    {{ "<!--Meta For No Index-->" | safeHTML }}
    <!--- <meta name="robots" content="noindex, Nofollow, Noimageindex"> -->
    <meta name="description" content="z-Labor e.V. - Hackspace und Chaostreff in der Kulturweberei Zwickau">
    {{ "<!--mobile responsive meta-->" | safeHTML }}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    {{hugo.Generator}}
    {{ "<!-- Critical CSS -->" | safeHTML }}
    {{$style :=  resources.Get "scss/critical.scss" | css.Sass | resources.Minify }}
    <link href="{{ $style.Permalink }}" rel="stylesheet" />

    {{"<!-- Favicon -->" | safeHTML}}
    <link rel="shortcut icon" href="{{"images/favicon.ico" | absURL}}" type="image/x-icon" />
    <link rel="icon" href="{{"images/favicon.png" | absURL}}" type="image/x-icon" />
  </head>

