{{with .Site.Data.hero}}
{{if .enable}}
  <section class="hero" style="background-image: url( {{ .heroBGimg }} );">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="hero-content">
            <h1>{{.title | safeHTML}}</h1>
            <p>
              {{.subtitle}}
            </p>
            <!-- If news headline is needed
            <p>
              <a class="glow" style="color: #fff" href="{{.bloglink}}">{{.news1}}<br><br>{{.news2}}</a>
            </p>
            -->

            <!-- If Videoplayer is needed 
            <div class="hero-video-player">
              <div class="hero-video-player-icon">
                <a class="popup-vimeo" href="{{ .heroVideo }}">
                    <i class="ti-control-play"></i>
                </a>
              </div>
              {{ .herosVideoDesc | safeHTML }}
            </div>
            -->

          </div>
        </div>
      </div>
    </div>
  </section>
{{end}}
{{end}}
