<link rel="stylesheet" href="{{ "vendor/leaflet/leaflet.css" | absURL }}"
    crossorigin="" />

<div id="map"></div>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script type="text/javascript" src="{{ "vendor/leaflet/leaflet.js" | absURL }}"
    crossorigin=""></script>

<script>
    var map = L.map('map').setView([{{ .Site.Params.map.latitude }}, {{ .Site.Params.map.longitude }}], 17);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var zlabIcon = L.icon({
        iconUrl: '{{ "images/zlab_map_marker.svg" | absURL }}',

        iconSize:     [32, 32], // size of the icon
        iconAnchor:   [0, 32], // point of the icon which will correspond to marker's location
    });
    var marker = L.marker([{{ .Site.Params.map.latitude }}, {{ .Site.Params.map.longitude }}], {icon: zlabIcon}).addTo(map);

    // hack for not loading tiles
    setTimeout(function(){ map.invalidateSize(true)}, 400);
</script>