{{ with .Site.Data.pricing}}
{{ if .enable}}
<section class="pricing" id="pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>{{.title}}</h2>
          <p>{{.subtitle}}
          </p>
        </div>
      </div>
      {{ range .itemPrices}}
      <div class="col-lg-4 col-md-6">
        <div class="pricing-wraper">
          <div class="pricing-item">
            {{if .badge}}
            <span class="pricing-item-badge">hot</span>
            {{end}}
            <span class="price">
                <sup>€</sup>{{.price}}
            </span>
            <h3>{{.package}}</h3>
            <p>
               {{.description}}
            </p>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{end}}
