{{ define "main" }}
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h2>{{ .Title }}</h2>
          <p>{{.Params.subTitle}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="row">
    <div class="container" style="display: flex; flex-direction: row; flex-wrap: wrap;">
      <div class="col-md-12">
        <div class="text-center">
     {{.Content}}
   </div>
    </div>
  </div>
</section>
{{end}}

