// site color variables
$body-color: #FFF;
$bg-color:#DFF1F4;
$bg-dark-gray:#1e1e1e;
$primary-color: #52cc00;
$secondary-color: #3e9900;
$text-color: #404040;
$text-color-dark:#252525;
$text-color-light:#f2f2f2;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #EDEDF4;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
