{{define "main"}}
{{ $address := .Site.Params.address}}
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto col-md-12">
        <div class="page-header">
          <h2>{{ .Title }}</h2>
          <p>{{.Params.subTitle}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <!-- TODO: Add Kachelz -->
        {{ partial "contactAddress.html" . }}
      </div>
    </div>
  </div>
</section>
<section class="about">
  <div class="container">

    {{.Content}}

  </div>
</section>
{{end}}
