{{ define "main" }}
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto col-md-12">
        <div class="page-header">
          <h2>{{ .Title }}</h2>
          <p>{{.Params.subTitle}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  {{ partial "faq-questions.html" . }}
</section>
{{ end }}