{{ define "main"}}
<section class="error">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--start error-content -->
        <div class="error-content">
          <h2>Na huch! Wo sind wir denn hier gelandet?</h2>
          <p>Keine Sorge, dass ist nur ein 404-Fehler.<br>Das passiert hin und wieder. Vermutlich haben wir wieder irgendwas kaputt gemacht.<br>Genieße doch einen Moment die hübsche Anzeige und dann kannst du ja mit einem Klick auf den Button da unten zurück auf die Hauptseite navigieren.</p>
          <!--<form action="#">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search again...">
              <div class="input-search">
                <a href="#"> <i class="ti-search"></i></a>
              </div>
            </div>
          </form>-->
          <div class="error-content-link">
            <a href="{{.Site.BaseURL}}">
              <i class="ti-arrow-left"></i>
              Startseite
            </a>
          </div>
        </div>
        <!--end error-content -->
      </div>
    </div>
  </div>
</section>

{{end}}
