<script src="https://aframe.io/releases/1.4.0/aframe.min.js"></script>

<a-scene embedded {{ with .Get "style" }}style="{{. | safeCSS }}"{{ end }}>
    <a-gltf-model src="{{ .Get "src" }}"></a-gltf-model>
</a-scene>