<link rel="stylesheet" href="{{ "vendor/leaflet/leaflet.css" | absURL }}"
    crossorigin="" />

<div id="{{ if .Get "id" }}{{ .Get "id" }}{{ else }}map{{ end }}" {{ with .Get "style" }}style="{{. | safeCSS }}"{{ end }}></div>

<script type="text/javascript" src="{{ "vendor/leaflet/leaflet.js" | absURL }}"
    crossorigin=""></script>

<script>
    var map = L.map('{{ if .Get "id" }}{{ .Get "id" }}{{ else }}map{{ end }}').setView(
            [{{ .Get "lat" }}, {{ .Get "lng" }}],
            {{ if .Get "zoom" }}{{ .Get "zoom" }}{{ else }}{{ 17 }}{{ end }}
        );
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
</script>