<!-- Import the component -->
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

<!-- Use it like any other HTML element -->
<model-viewer {{ with .Get "style" }}style="{{. | safeCSS }}"{{ end }}
    alt="{{ if .Get "alt" }}{{ .Get "alt" }}{{ end }}"
    src="{{ .Get "src" }}" camera-controls
    touch-action="pan-y"></model-viewer>